In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import warnings
warnings.filterwarnings("ignore")
train=pd.read_csv("Data_Train.csv",encoding='cp1252')
test=pd.read_csv("Test_set.csv",encoding='cp1252')
frames = [train, test]

In [2]:
df=pd.concat(frames,sort=False)

In [3]:
df.shape

(13354, 11)

In [4]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,3/22/2020 1:10,2h 50m,non-stop,No info,3897.0
1,Air India,1/5/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,5:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/6/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,9:25,6/10/2020 4:25,19h,2 stops,No info,13882.0
3,IndiGo,12/5/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1/3/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [5]:
train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,3/22/2020 1:10,2h 50m,non-stop,No info,3897
1,Air India,1/5/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,5:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/6/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,9:25,6/10/2020 4:25,19h,2 stops,No info,13882
3,IndiGo,12/5/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,1/3/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL ? BOM ? COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR ? DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [7]:
df.shape

(13354, 11)

In [8]:
df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [9]:
df['date']=df["Date_of_Journey"].str.split('/').str[0].astype(int)
df['month']=df["Date_of_Journey"].str.split('/').str[1].astype(int)
df['year']=df["Date_of_Journey"].str.split('/').str[2].astype(int)

In [10]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,3/22/2020 1:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,1/5/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,5:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,9/6/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,9:25,6/10/2020 4:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,12/5/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,1/3/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [11]:
df["Additional_Info"].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [12]:
df=df.drop(["Date_of_Journey"],axis=1)

In [13]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
date                 int32
month                int32
year                 int32
dtype: object

In [14]:
df['Arrival_Time']=df["Arrival_Time"].str.split('  ').str[0]
df['Arrival_Time']

0        3/22/2020 1:10
1                 13:15
2        6/10/2020 4:25
3                 23:30
4                 21:35
5                 11:25
6       3/13/2020 10:25
7         3/2/2020 5:05
8       3/13/2020 10:25
9                 19:15
10                23:00
11                22:55
12                13:55
13       5/10/2020 9:20
14                19:50
15       3/4/2020 19:15
16                13:15
17      6/13/2020 12:35
18      6/13/2020 19:15
19      5/28/2020 12:35
20                19:20
21      3/19/2020 13:20
22                 6:50
23                21:50
24        5/7/2020 8:15
25      6/10/2020 12:35
26        6/2/2020 3:35
27                12:55
28                12:35
29                 9:20
             ...
2641       01:30 10 May
2642       12:35 22 May
2643       09:25 07 Jun
2644              19:00
2645       08:15 13 Mar
2646       04:25 20 May
2647       08:55 02 May
2648       00:20 02 Apr
2649              08:35
2650       08:55 10 May
2651              22:05
2652       13:15 13 Mar
2653              22:35
2654       07:40 04 Mar
2655              21:00
2656       09:20 13 May
2657              19:15
2658       19:00 16 Jun
2659              12:35
2660              16:55
2661       04:25 29 Mar
2662              15:25
2663       07:45 13 May
2664       01:30 16 Jun
2665       00:15 22 Jun
2666       20:25 07 Jun
2667              16:55
2668       04:25 07 Mar
2669              19:15
2670              19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [15]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
date                 int32
month                int32
year                 int32
dtype: object

In [16]:
df['Arrival_Time']=pd.to_datetime(df.Arrival_Time)
df["Arrival_Hour"]=df.Arrival_Time.dt.hour
df["Arrival_Minute"]=df.Arrival_Time.dt.minute

In [17]:
df['Arrival_Minute'].isnull().sum()
df['Arrival_Minute']

0       10
1       15
2       25
3       30
4       35
5       25
6       25
7        5
8       25
9       15
10       0
11      55
12      55
13      20
14      50
15      15
16      15
17      35
18      15
19      35
20      20
21      20
22      50
23      50
24      15
25      35
26      35
27      55
28      35
29      20
        ..
2641    30
2642    35
2643    25
2644     0
2645    15
2646    25
2647    55
2648    20
2649    35
2650    55
2651     5
2652    15
2653    35
2654    40
2655     0
2656    20
2657    15
2658     0
2659    35
2660    55
2661    25
2662    25
2663    45
2664    30
2665    15
2666    25
2667    55
2668    25
2669    15
2670    15
Name: Arrival_Minute, Length: 13354, dtype: int64

In [18]:
df['Arrival_Minute']=df['Arrival_Minute'].fillna(0)

In [19]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,2020-03-22 01:10:00,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,5:50,2020-01-13 13:15:00,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,9:25,2020-06-10 04:25:00,19h,2 stops,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,2020-01-13 23:30:00,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,2020-01-13 21:35:00,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35

In [20]:
df["Total_Stops"]=df["Total_Stops"].replace("non-stop","0 stop")
df['Stops']=df["Total_Stops"].str.split(' ').str[0]
df['Stops'].isnull().sum()

1

In [21]:
df['Stops']=df['Stops'].fillna(0)

In [22]:
df['Stops']=df['Stops'].astype(int)

In [23]:
df['Dep_Time']=df["Dep_Time"].str.split(' ').str[0]
df['Dep_Hour']=df["Dep_Time"].str.split(':').str[0].astype(int)
df['Dep_Minute']=df["Dep_Time"].str.split(':').str[1].astype(int)

In [24]:
df['Dep_Hour'].isnull().sum()

0

In [25]:
df['Dep_Minute'].isnull().sum()

0

In [26]:
df['Route1']=df["Route"].str.split('?').str[0]
df['Route2']=df["Route"].str.split('?').str[1]
df['Route3']=df["Route"].str.split('?').str[2]
df['Route4']=df["Route"].str.split('?').str[3]
df['Route5']=df["Route"].str.split('?').str[4]

In [27]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,...,Arrival_Hour,Arrival_Minute,Stops,Dep_Hour,Dep_Minute,Route1,Route2,Route3,Route4,Route5
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,2020-03-22 01:10:00,2h 50m,0 stop,No info,3897.0,...,1,10,0,22,20,BLR,DEL,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,5:50,2020-01-13 13:15:00,7h 25m,2 stops,No info,7662.0,...,13,15,2,5,50,CCU,IXR,BBI,BLR,NaN
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,9:25,2020-06-10 04:25:00,19h,2 stops,No info,13882.0,...,4,25,2,9,25,DEL,LKO,BOM,COK,NaN
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,2020-01-13 23:30:00,5h 25m,1 stop,No info,6218.0,...,23,30,1,18,5,CCU,NAG,BLR,NaN,NaN
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,2020-01-13 21:35:00,4h 45m,1 stop,No info,13302.0,...,21,35,1,16,50,BLR,NAG,DEL,NaN,NaN

In [28]:
df['Route1']=df['Route1'].fillna("None",inplace=True)
df['Route2']=df['Route2'].fillna("None",inplace=True)
df['Route3']=df['Route3'].fillna("None",inplace=True)
df['Route4']=df['Route4'].fillna("None",inplace=True)
df['Route5']=df['Route5'].fillna("None",inplace=True)

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Airline"]=le.fit_transform(df["Airline"])
df["Source"]=le.fit_transform(df["Source"])
df["Destination"]=le.fit_transform(df["Destination"])
df["Additional_Info"]=le.fit_transform(df["Additional_Info"])
df_new=pd.get_dummies(df,columns=['Route1','Route2','Route3','Route4','Route5'])

In [30]:
df_new.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,date,month,year,Arrival_Hour,Arrival_Minute,Stops,Dep_Hour,Dep_Minute
0,3,0,5,BLR ? DEL,22:20,2020-03-22 01:10:00,2h 50m,0 stop,8,3897.0,24,3,2019,1,10,0,22,20
1,1,3,0,CCU ? IXR ? BBI ? BLR,5:50,2020-01-13 13:15:00,7h 25m,2 stops,8,7662.0,1,5,2019,13,15,2,5,50
2,4,2,1,DEL ? LKO ? BOM ? COK,9:25,2020-06-10 04:25:00,19h,2 stops,8,13882.0,9,6,2019,4,25,2,9,25
3,3,3,0,CCU ? NAG ? BLR,18:05,2020-01-13 23:30:00,5h 25m,1 stop,8,6218.0,12,5,2019,23,30,1,18,5
4,3,0,5,BLR ? NAG ? DEL,16:50,2020-01-13 21:35:00,4h 45m,1 stop,8,13302.0,1,3,2019,21,35,1,16,50

In [31]:
df_new=df_new.drop(["Route","Arrival_Time","Duration","Total_Stops","Dep_Time"],axis=1)

In [32]:
df_new.head()

,Airline,Source,Destination,Additional_Info,Price,date,month,year,Arrival_Hour,Arrival_Minute,Stops,Dep_Hour,Dep_Minute
0,3,0,5,8,3897.0,24,3,2019,1,10,0,22,20
1,1,3,0,8,7662.0,1,5,2019,13,15,2,5,50
2,4,2,1,8,13882.0,9,6,2019,4,25,2,9,25
3,3,3,0,8,6218.0,12,5,2019,23,30,1,18,5
4,3,0,5,8,13302.0,1,3,2019,21,35,1,16,50

In [33]:
df_new.skew()

Airline            0.720924
Source            -0.424151
Destination        1.247893
Additional_Info   -1.784752
Price              1.812552
date               0.135142
month             -0.390684
year               0.000000
Arrival_Hour      -0.384591
Arrival_Minute     0.111711
Stops              0.317940
Dep_Hour           0.109087
Dep_Minute         0.159397
dtype: float64

In [34]:
x=df_new.drop(["Price"],axis=1)
x.dtypes

Airline            int32
Source             int32
Destination        int32
Additional_Info    int32
date               int32
month              int32
year               int32
Arrival_Hour       int64
Arrival_Minute     int64
Stops              int32
Dep_Hour           int32
Dep_Minute         int32
dtype: object

In [44]:
y=df["Price"]

y=y.fillna(y.mean())
y.isnull().sum()
y=y.values.reshape(-1,1)

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=45)

In [46]:
from sklearn.metrics import mean_squared_error
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(9347, 12)
(4007, 12)
(9347, 1)
(4007, 1)

In [47]:
lm=LinearRegression()
lm.fit(x_train,y_train)
lm.coef_

array([[ 1.55520749e+02, -2.39869623e+02,  7.28983090e+01,
        -4.71755337e+01, -6.88538309e+01, -4.02269025e+02,
        -1.02318154e-12, -6.43790489e-01, -5.22570963e+00,
         3.59341598e+03,  4.00706422e+01, -5.92585219e+00]])

In [48]:
lm.score(x_train,y_train)

0.35528401516195396

In [49]:
def linreg():
    lm.fit(x_train,y_train)
    pred=lm.predict(x_test)
    print(lm.score(x_train,y_train))
    print(r2_score(y_test,pred))
    print(mean_squared_error(y_test,pred))

In [50]:
linreg()

0.35528401516195396
0.3153672719034931
12197249.009231495

In [54]:
from sklearn.model_selection import cross_val_score
Score=cross_val_score(lm,x_train,y_train,cv=5)
Score

array([0.35435586, 0.33923608, 0.38875148, 0.35375858, 0.33465497])

In [55]:
from sklearn.externals import joblib
joblib.dump(lm,"lmsave")

['lmsave']

In [56]:
import pickle
s=pickle.dumps(lm)
clf2=pickle.loads(s)

In [57]:
clf2

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)